# Artificial Neural Network

### Importing the libraries

In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf

In [2]:
tf.__version__

'2.11.0'

## Part 1 - Data Preprocessing

### Importing the dataset

In [3]:
dataset = pd.read_csv('Churn_Modelling.csv')
dataset.head(2)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0

In [4]:
# df.iloc[rows,columns]=[:,:]=all row and column[lower bound:upper bound]
X = dataset.iloc[:, 3:-1].values
y = dataset.iloc[:, -1].values

In [5]:
print(X)

[[619 'France' 'Female' ... 1 1 101348.88]
 [608 'Spain' 'Female' ... 0 1 112542.58]
 [502 'France' 'Female' ... 1 0 113931.57]
 ...
 [709 'France' 'Female' ... 0 1 42085.58]
 [772 'Germany' 'Male' ... 1 0 92888.52]
 [792 'France' 'Female' ... 1 0 38190.78]]

In [6]:
print(y)

[1 0 1 ... 1 1 0]

### Encoding categorical data

Label Encoding the "Gender" column

In [7]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
X[:,2]=le.fit_transform(X[:,2])

In [8]:
print(X)

[[619 'France' 0 ... 1 1 101348.88]
 [608 'Spain' 0 ... 0 1 112542.58]
 [502 'France' 0 ... 1 0 113931.57]
 ...
 [709 'France' 0 ... 0 1 42085.58]
 [772 'Germany' 1 ... 1 0 92888.52]
 [792 'France' 0 ... 1 0 38190.78]]

One Hot Encoding the "Geography" column

In [9]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [1])], remainder='passthrough')
X = np.array(ct.fit_transform(X))

In [10]:
print(X)

[[1.0 0.0 0.0 ... 1 1 101348.88]
 [0.0 0.0 1.0 ... 0 1 112542.58]
 [1.0 0.0 0.0 ... 1 0 113931.57]
 ...
 [1.0 0.0 0.0 ... 0 1 42085.58]
 [0.0 1.0 0.0 ... 1 0 92888.52]
 [1.0 0.0 0.0 ... 1 0 38190.78]]

### Splitting the dataset into the Training set and Test set

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

# Feature Scaling

must in Deep Learning

In [12]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

## Part 2 - Building the ANN

### Initializing the ANN

In [13]:
ann=tf.keras.models.Sequential()
#as a sequence of layers

### Adding the input layer and the first hidden layer

In [14]:
ann.add(tf.keras.layers.Dense(units=6, activation='relu'))

### Adding the second hidden layer

In [15]:
ann.add(tf.keras.layers.Dense(units=6, activation='relu'))

### Adding the output layer

In [16]:
ann.add(tf.keras.layers.Dense(units=1 ,activation='sigmoid'))

## Part 3 - Training the ANN

### Compiling the ANN

In [17]:
ann.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

### Training the ANN on the Training set

In [18]:
ann.fit(X_train, y_train, batch_size= 32,epochs=30)

Epoch 1/30
250/250 [==============================] - 2s 3ms/step - loss: 0.5957 - accuracy: 0.7795
Epoch 2/30
250/250 [==============================] - 1s 3ms/step - loss: 0.4886 - accuracy: 0.7960
Epoch 3/30
250/250 [==============================] - 1s 3ms/step - loss: 0.4475 - accuracy: 0.7990
Epoch 4/30
250/250 [==============================] - 1s 3ms/step - loss: 0.4165 - accuracy: 0.8219
Epoch 5/30
250/250 [==============================] - 1s 3ms/step - loss: 0.4009 - accuracy: 0.8290
Epoch 6/30
250/250 [==============================] - 1s 3ms/step - loss: 0.3893 - accuracy: 0.8336
Epoch 7/30
250/250 [==============================] - 1s 3ms/step - loss: 0.3813 - accuracy: 0.8391
Epoch 8/30
250/250 [==============================] - 1s 3ms/step - loss: 0.3745 - accuracy: 0.8420
Epoch 9/30
250/250 [==============================] - 1s 3ms/step - loss: 0.3686 - accuracy: 0.8435
Epoch 10/30
250/250 [==============================] - 1s 3ms/step - loss: 0.3638 - accuracy: 0.8471
Epoch 11/30
250/250 [==============================] - 1s 3ms/step - loss: 0.3594 - accuracy: 0.8489
Epoch 12/30
250/250 [==============================] - 1s 3ms/step - loss: 0.3559 - accuracy: 0.8505
Epoch 13/30
250/250 [==============================] - 1s 3ms/step - loss: 0.3529 - accuracy: 0.8512
Epoch 14/30
250/250 [==============================] - 1s 3ms/step - loss: 0.3504 - accuracy: 0.8536
Epoch 15/30
250/250 [==============================] - 1s 3ms/step - loss: 0.3484 - accuracy: 0.8551
Epoch 16/30
250/250 [==============================] - 1s 3ms/step - loss: 0.3467 - accuracy: 0.8568
Epoch 17/30
250/250 [==============================] - 1s 3ms/step - loss: 0.3453 - accuracy: 0.8571
Epoch 18/30
250/250 [==============================] - 1s 3ms/step - loss: 0.3445 - accuracy: 0.8579
Epoch 19/30
250/250 [==============================] - 1s 3ms/step - loss: 0.3433 - accuracy: 0.8585
Epoch 20/30
250/250 [==============================] - 1s 3ms/step - loss: 0.3428 - accuracy: 0.8581
Epoch 21/30
250/250 [==============================] - 1s 3ms/step - loss: 0.3422 - accuracy: 0.8574
Epoch 22/30
250/250 [==============================] - 1s 3ms/step - loss: 0.3415 - accuracy: 0.8585
Epoch 23/30
250/250 [==============================] - 1s 3ms/step - loss: 0.3411 - accuracy: 0.8589
Epoch 24/30
250/250 [==============================] - 1s 3ms/step - loss: 0.3405 - accuracy: 0.8596
Epoch 25/30
250/250 [==============================] - 1s 3ms/step - loss: 0.3409 - accuracy: 0.8577
Epoch 26/30
250/250 [==============================] - 1s 3ms/step - loss: 0.3398 - accuracy: 0.8604
Epoch 27/30
250/250 [==============================] - 1s 3ms/step - loss: 0.3398 - accuracy: 0.8584
Epoch 28/30
250/250 [==============================] - 1s 3ms/step - loss: 0.3392 - accuracy: 0.8611
Epoch 29/30
250/250 [==============================] - 1s 3ms/step - loss: 0.3392 - accuracy: 0.8581
Epoch 30/30
250/250 [==============================] - 1s 3ms/step - loss: 0.3390 - accuracy: 0.8609

## Part 4 - Making the predictions and evaluating the model

### Predicting the result of a single observation

**Homework**

Use our ANN model to predict if the customer with the following informations will leave the bank: 

Geography: France

Credit Score: 600

Gender: Male

Age: 40 years old

Tenure: 3 years

Balance: \$ 60000

Number of Products: 2

Does this customer have a credit card? Yes

Is this customer an Active Member: Yes

Estimated Salary: \$ 50000

So, should we say goodbye to that customer?

**Solution**

In [23]:
# ann.predict(sc.transform([[1, 0, 0, 600, 1, 40, 3, 60000, 2, 1, 1, 50000]]))
#sigmoid 
print(ann.predict(sc.transform([[1, 0, 0, 600, 1, 40, 3, 60000, 2, 1, 1, 50000]])) > 0.5)

1/1 [==============================] - 0s 39ms/step
[[False]]

Therefore, our ANN model predicts that this customer stays in the bank!

**Important note 1:** Notice that the values of the features were all input in a double pair of square brackets. That's because the "predict" method always expects a 2D array as the format of its inputs. And putting our values into a double pair of square brackets makes the input exactly a 2D array.

**Important note 2:** Notice also that the "France" country was not input as a string in the last column but as "1, 0, 0" in the first three columns. That's because of course the predict method expects the one-hot-encoded values of the state, and as we see in the first row of the matrix of features X, "France" was encoded as "1, 0, 0". And be careful to include these values in the first three columns, because the dummy variables are always created in the first columns.

### Predicting the Test set results

In [25]:
y_pred=ann.predict(X_test)
y_pred=(y_pred > 0.5)
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

63/63 [==============================] - 0s 3ms/step
[[0 0]
 [0 1]
 [0 0]
 ...
 [0 0]
 [0 0]
 [0 0]]

### Making the Confusion Matrix

In [27]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, y_pred)
print(cm)

[[1526   69]
 [ 196  209]]

In [28]:
accuracy_score(y_test, y_pred)

0.8675